/* Universal */
body {
  margin: 0;
  padding: 0;
  background: url("../images/bg.png") center repeat fixed;
  background-size: 500px;
  font-family: cursive;
}
span.active {
  display: block;
  margin-top: 5px;
  background-color: #ff3a5c;
  width: 100%;
  height: 4px;
}
/* Navbar */
nav {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}
#logoNav {
  width: auto;
  height: 70px;
}
#navList {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}
.navLink {
  margin-right: 20px;
  padding: 10px;
}
.navLink a {
  color: #000;
  text-decoration: none;
}
.navLinkUnderline {
  display: block;
  margin-top: 5px;
  background-color: #ff3a5c;
  width: 0;
  height: 4px;
  transition: all 0.3s;
}
.navLink:hover .navLinkUnderline {
  width: 100%;
}
.search {
  position: relative;
}
#search {
  border: 0.4px solid black;
  width: 500px;
  padding: 15px;
  height: 5px;
  border-radius: 20px;
}
#search:focus {
  outline: 3px solid #ff3a5c;
}
#lup {
  position: absolute;
  background-color: transparent;
  display: inline-block;
  border: none;
  border-radius: 0 20px 20px 0;
  right: 5px;
  top: -9px;
  z-index: 0;
  width: 30px;
  height: 36px;
}
#lup:hover {
  cursor: pointer;
}
.collection {
  position: relative;
}
.dropdown {
  position: absolute;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(114, 114, 114, 0.466);
  border-radius: 20px;

  display: none;
  box-sizing: border-box;
  width: 300px;
  /* top: 50px; */
}
.collection:hover .dropdown {
  display: block;
}
.dropdown-menu {
  margin: 10px;
  line-height: 2;
  width: 90%;
  margin-left: -20px;
}
.dropdown-menu:hover {
  background-color: #eee;
}
#btn-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#btn-nav button {
  width: 70px;
  margin-left: 10px;
  height: 30px;
  background-color: rgb(230, 230, 230);
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
#btn-nav button a {
  text-decoration: none;
  color: #000;
}
#btn-nav button:hover,
#btn-nav button:hover a {
  background-color: #ff3a5c;
  color: white;
}
#cart {
  margin-left: 20px;
}
/* Header */
header {
  display: flex;
  justify-content: space-between;
}
.jargon-wrapper {
  text-align: right;
  padding: 100px;
}
.jargon-wrapper h1 {
  font-size: 50px;
}
.jargon-wrapper p {
  font-size: 1.2rem;
}
.imgJargonWrapper img {
  width: 500px;
  height: auto;
}
/* main */
/* BestSelling */
.genreWrapper {
  padding: 20px auto;
  margin: 20px;
}
.genreWrapper table {
  width: 100%;
  text-align: center;
}
.genreMenu,
.genreImg {
  background: linear-gradient(white, rgb(255, 207, 207), #ff3a5c);
  border-radius: 20px;
  border: none;
}
.genreMenu:hover {
  box-sizing: border-box;
  box-shadow: 0 4px 10px rgba(82, 82, 82, 0.829);
  transition: all 0.3s;
  cursor: pointer;
}
.genreMenu:hover .genreImg {
  width: 100px;
  box-shadow: 4px 4px 10px rgba(246, 246, 246, 0.644);
  border-radius: 25px;
  transition: all 0.3s;
}
.genreLink {
  text-decoration: none;
  color: white;
}
/* Akademik Pilihan & Novel Pilihan*/
.akademikPilihan,
.novelPilihan {
  margin-top: 50px;
  width: 100vw;
}
.akademik-title-wrapper,
.novel-title-wrapper {
  margin: 0 100px;
}
.akademik-title-wrapper a,
.novel-title-wrapper a {
  text-decoration: none;
}
.seeAll {
  display: inline-block;
}
.seeAllUnderline {
  display: block;
  height: 2px;
  width: 0;
  background-color: blue;
  transition: all 0.5s;
}
.seeAll:hover .seeAllUnderline {
  width: 100%;
}
#akademikTable,
#novelTable {
  width: 95%;
  border: none;
  border-radius: 15px;
  padding: 20px;
  margin: 0 50px;
  text-align: center;
}
.akademikTd,
.novelTd {
  box-shadow: 3px 3px 10px rgb(230, 230, 230);
  padding: 20px;
  width: 25%;
  border-radius: 10px;
  background-color: white;
}
.akademikTd p {
  font-size: 12px;
}
.akademikTd button,
.novelTd button {
  background-color: #ff3a5c;
  box-shadow: 0px 5px 0px #7b1c2c;
  border: none;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  cursor: pointer;
}
.akademikTd button:active,
.novelTd button:active {
  box-shadow: 0px 0px 0px transparent;
  position: relative;
  top: 8px;
}
.akademikTd button a,
.novelTd button a {
  display: inline-block;
  padding-top: 5px;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
}
.bookPrice {
  font-weight: normal;
}
/* Incar Buku */
.incarBuku {
  text-align: center;
}
.incarBuku a {
  text-decoration: none;
  color: blue;
}
.incarBuku a:hover {
  text-decoration: underline;
  transition: all 0.8s;
}
/* Footer */
footer {
  background-color: #eee;
  height: fit-content;
  margin-top: 30px;
}
#footerWrapper {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
.jargonFooter a {
  text-decoration: none;
  color: grey;
  margin-right: 10px;
  font-size: 0.8rem;
}
.contactUs ul li,
.other ul li {
  margin-left: -40px;
  line-height: 2;
  font-size: 0.8rem;
}
.copyright {
  margin: 0;
  line-height: 2;
  padding: 15px;
  text-align: center;
}
.otherLink:hover {
  cursor: pointer;
  color: #ff3a5c;
}
/* Popup */
#popup {
  width: 500px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.popup-content {
  padding: 20px;
  text-align: justify;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(114, 114, 114, 0.466);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.25);
  transition: all 0.5s;
}
#popup:target {
  opacity: 1;
  visibility: visible;
}
#popup:target .popup-content {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}
.close-popup {
  font-size: 2rem;
  text-decoration: none;
  color: #000;
  position: absolute;
  right: 15px;
}
.close-popup:link,
.close-popup:visited {
  transition: all 1s;
}
.card {
  display: flex;
  justify-content: space-between;
}
.card-text {
  margin-left: 20px;
}
.buynow {
  background-color: #fff;
  border: 1px solid #ff3a5c;
  border-radius: 20px;
  width: auto;
  height: 40px;
  padding: 10px;
}
.cart {
  background-color: #ff3a5c;
  border: none;
  border-radius: 20px;
  width: auto;
  height: 40px;
  padding: 10px;
}
.cart a {
  text-decoration: none;
  color: white;
  display: inline-block;
}
.buynow a {
  text-decoration: none;
  color: #ff3a5c;
  display: inline-block;
}
