:root {
  --main-color: #ff3a5c;
  --shadow: 2px 3px 8px rgb(212, 212, 212);
  --shadow-hover: 2px 3px 8px rgb(255, 255, 255);
}
.font-pink {
  color: var(--main-color);
}
* {
  margin: 0;
  padding: 0;
  font-family: cursive;
}
body {
  background-color: #eee;
}
.width-max {
  max-width: 1080px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* input:focus {
  outline: 2px solid var(--main-color);
} */
i {
  color: var(--main-color);
}
.see-all a {
  color: var(--main-color);
}
.see-all {
  display: inline-block;
}
.see-all__slider {
  display: block;
  width: 0;
  height: 3px;
  background-color: var(--main-color);
  transition: all 0.2s;
}
.see-all:hover .see-all__slider {
  width: 100%;
}
/* navbar */
.nav-wrapper {
  width: 100%;
  position: sticky;
  background-color: #eee;
  height: 100px;
  top: 0;
  z-index: 500;
}
.navbar {
  width: 100%;
  top: 0;
  left: 44px;
  right: 44px;
  margin: 0 auto;
  z-index: 900;
}
nav {
  width: 100%;
}
nav li a {
  color: black;
}
.navbar__logo {
  width: 25%;
  object-fit: contain;
}
.navbar__btn {
  background-color: lightgray;
  color: white;
  width: 86px;
}
.navbar__btn:hover {
  background-color: var(--main-color);
  color: white;
}
.navbar__list {
  width: 75%;
}
.navbar__list ul {
  margin-top: 28px;
  margin-bottom: 16px;
}
.navbar__form {
  width: 50%;
  /* position: relative; */
}
.dropdown-menu {
  top: 36px;
}

i.hamburger-btn {
  display: none;
}
/* navbar end */
/* carousel */
.carousel {
  margin-top: 30px;
  height: 60vh;
}
.banner {
  gap: 30px;
}
.banner__jargon {
  width: 50%;
  align-self: center;
  text-align: right;
}
.banner__img {
  height: 400px;
  object-fit: contain;
}
.carousel-prev {
  font-size: 2rem;
  color: var(--main-color);
}
/* carousel end */
/* Shortcut */
.shortcut-wrapper {
  margin: 0 auto;
  gap: 10px;
}
.shortcut {
  margin: auto;
  background: linear-gradient(white, rgb(255, 222, 222), var(--main-color));
  text-align: center;
  padding-top: 15px;
  border-radius: 20px;
  box-shadow: var(--shadow);
  transition: all 0.2s;
}
.shortcut:hover {
  transform: scale(1.1);
  transform-origin: bottom;
}
.shortcut:hover .shortcut__img {
  height: 120px;
  box-shadow: var(--shadow-hover);
}
.shortcut a {
  color: white;
}
.shortcut a:hover {
  cursor: pointer;
}
.shortcut__img {
  height: 100px;
  object-fit: contain;
  border-radius: 20px;
}
.shortcut__text {
  line-height: 2;
}
/* Shortcut end */
/* reccomendation product */
.recc-wrapper {
  margin: 86px auto;
}
.recc__card {
  box-shadow: var(--shadow);
  text-align: center;
  height: fit-content;
}
.recc__card a {
  display: block;
  cursor: pointer;
  width: 80%;
  height: 80%;
  position: absolute;
  z-index: 500;
}
.recc__card-img {
  height: 200px;
  object-fit: contain;
}
.recc__card-p {
  color: grey;
}
.recc__card-disc {
  text-decoration: line-through;
  color: grey;
  font-size: 0.8rem;
}
.recc__card-price {
  color: var(--main-color);
}
/* reccomendation product end */
/* academic */
.acc-wrapper {
  margin: 86px auto;
}
.acc__card {
  box-shadow: var(--shadow);
  text-align: center;
  height: fit-content;
}
.acc__card a {
  display: block;
  cursor: pointer;
  width: 80%;
  height: 80%;
  position: absolute;
  z-index: 500;
}
.acc__card-img1 {
  height: 330px;
  object-fit: contain;
}
.acc__card-img {
  height: 200px;
  object-fit: contain;
}
.acc__card-p {
  color: grey;
}
.acc__card-disc {
  text-decoration: line-through;
  color: grey;
  font-size: 0.8rem;
}
.acc__card-price {
  color: var(--main-color);
}
/* end ecademic */
/* fiction */
.fics-wrapper {
  margin: 86px auto;
}
.fics__card {
  box-shadow: var(--shadow);
  text-align: center;
  height: fit-content;
}
.fics__card a {
  display: block;
  cursor: pointer;
  width: 80%;
  height: 80%;
  position: absolute;
  z-index: 500;
}
.fics__card-img1 {
  height: 330px;
  object-fit: contain;
}
.fics__card-img {
  height: 200px;
  object-fit: contain;
}
.fics__card-p {
  color: grey;
}
.fics__card-disc {
  text-decoration: line-through;
  color: grey;
  font-size: 0.8rem;
}
.fics__card-price {
  color: var(--main-color);
}
/* end fiction */
/* pop up */
.popUp {
  width: 100%;
  height: 100vh;
  /* background-color: rgb(0, 0, 0, 0.5); */
  position: fixed;
  z-index: 999;
  top: -1000px;
  left: 0;
  margin: auto;
  transition: all 0.5s;
}
.popUp-content {
  position: absolute;
  width: 100%;
  background-color: white;
  box-shadow: var(--shadow);
  margin: auto;
  transition: all 0.5s;
}
.popUp-close {
  font-size: 1.5rem;
  cursor: pointer;
}
.popHidden {
  display: none !important;
}
.popUp__input:focus {
  outline: 3px solid #ff3a5c;
}
/* pop up end */
/* footer */
.footer-wrapper {
  /* padding-top: 50px; */
  background-color: grey;
  color: #eee;
  height: fit-content;
  position: relative;
  bottom: 0;
}
footer h4 {
  font-size: 20px;
}
footer li {
  font-size: 12px;
  margin-left: -30px;
}
.footer__icon {
  font-size: 1.5rem;
}
/* Footer end */
/* layar tablet */
@media only screen and (max-width: 1000px) {
  /* navbar */
  .nav-wrapper {
    height: fit-content;
  }
  nav {
    flex-direction: column;
  }
  .navbar,
  .fa-magnifying-glass,
  .dropdown-menu {
    font-size: 0.8rem;
  }
  .navbar__logo {
    width: 40%;
    margin: auto;
    padding-right: 20px;
  }
  .navbar__list {
    width: 90%;
  }
  .navbar__list ul {
    padding: 0;
    margin-top: 12px;
  }
  .navbar__list li {
    margin: 0 12px;
  }
  .dropdown-menu {
    top: 36px !important;
  }
  .navbar__btn {
    width: 58px;
    text-align: center;
    font-size: 0.7rem;
  }
  #search-bar {
    height: 30px;
    padding: 12px;
  }
  /* banner */
  .banner {
    flex-direction: column;
    gap: 0;
  }
  .banner__img,
  .banner__jargon {
    width: 100%;
    text-align: center;
  }
  .carousel {
    margin-top: 100px;
    height: 50vh;
  }
  .banner__img {
    height: 300px;
    object-fit: contain;
  }
  /* Shortcut */
  .shortcut-wrapper {
    margin-top: 100px;
  }
  .shortcut {
    width: fit-content;
  }
  /* popUp */
  .popUp-content {
    height: 100vh;
    overflow-y: scroll;
    text-align: center;
  }
  .popUp__img {
    height: 300px;
    object-fit: contain;
  }
}

/* layar hp */
@media only screen and (max-width: 576px) {
  .nav-wrapper {
    height: 100px;
  }
  .card-product {
    margin-bottom: 10px;
  }
  .navbar {
    position: unset;
  }
  .navbar,
  .fa-magnifying-glass,
  .dropdown-menu {
    font-size: 1rem;
  }
  nav {
    flex-direction: column;
  }
  .navbar__logo {
    width: 100vw;
    background-color: #eee;
    position: relative;
    z-index: 999;
  }
  .navbar__form {
    width: 90%;
  }
  .navbar__list {
    width: 100%;
    background-color: #eee;
    position: relative;
    z-index: 500;
    top: -1000px;
    transition: all 0.5s;
  }
  .hamburger-toggle {
    top: 0;
  }
  .navbar__list ul {
    flex-direction: column;
    padding-left: 0;
    line-height: 2;
    width: 100%;
    text-align: center;
  }
  .navbar__btn {
    width: 86px;
    font-size: 1rem;
    margin-top: 12px;
  }
  i.hamburger-btn {
    display: block;
    text-align: center;
    font-size: 2rem;
    position: relative;
    z-index: 999;
    background-color: #eee;
  }
  /* banner */

  .banner {
    flex-direction: column;
    gap: 0;
  }
  .banner__img,
  .banner__jargon {
    width: 100%;
    text-align: center;
  }
  .footer-wrapper {
    text-align: center;
  }
  footer .col-sm-3 {
    margin-bottom: 20px;
  }
}
