:root {
  --main-color: #ff3a5c;
  --secondary-color: #bf2a42;
  --shadow: 2px 3px 8px rgb(212, 212, 212);
  --shadow-hover: 2px 3px 8px rgb(255, 255, 255);
}
.font-pink {
  color: var(--main-color);
}

* {
  margin: 0;
  padding: 0;
  font-family: "EB Garamond", serif;
}
body {
  background-color: #eee;
}
.width-max {
  max-width: 1080px;
}

a {
  text-decoration: none;
  cursor: pointer;
}
.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: transparent;
  outline: 3px solid var(--main-color);
}
i {
  color: var(--main-color);
}

.btn-outline-success {
  --bs-btn-color: var(--main-color);
  --bs-btn-border-color: var(--main-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--main-color);
  --bs-btn-hover-border-color: var(--main-color);
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--main-color);
  --bs-btn-active-border-color: var(--main-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--main-color);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--main-color);
  --bs-gradient: none;
}
.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--main-color);
  --bs-btn-border-color: var(--main-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--secondary-color);
  --bs-btn-hover-border-color: var(--secondary-color);
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--secondary-color);
  --bs-btn-active-border-color: unset;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--main-color);
  --bs-btn-disabled-border-color: var(--main-color);
}
/* navbar */
.nav-wrapper {
  top: 0;
  z-index: 700;
  background-color: #eee;
}
/* navbar end */
/* main */
.card {
  box-shadow: var(--shadow);
}
/* main end */
/* footer */
.footer-wrapper {
  background-color: grey;
}
/* footer end */

@media screen and (max-width: 576px) {
  .navbar__logo {
    width: 100% !important;
  }
}
